$blue: #62eb07;
$blue-transparent: rgba(10, 255, 132, 0.7);

$font-color: #EEE;

$pink: rgb(214, 170, 211);
$border-pink: 0.4rem solid $pink;
$border-pink-small: 0.2rem solid $pink;

$linear-gradient-default: linear-gradient(to bottom right, rgba(10, 255, 132, 0.8), 80%, rgba(211, 28, 248, 0.5));