@use 'colors';

.stick{
    width:6rem;
    height:6rem;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
}

.stick--left{
    background:colors.$white;
    top: 15%;
}

.stick--right{
    top: 50%;
    background:colors.$blue;
}